.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #bdb8b8;
  /* min-height: 100vh; */

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: #020202;
}

.App-link {
  color: #09d3ac;
}

main{
  background-color: #feffff;
  min-height: 100vh;
}


#logo_fundo img{
  height: 5.3em;
}

#username_form{
  text-align: left;
  padding: 1em 0;
  margin:auto;
  width: 17%;
  display : flex;
  justify-content: space-around;
}

#username_submit{
  padding: 1em;
  border : 0.1px solid #000000;
  border-radius: 0.5em;
  background-color: #414645;
  color: #fff;
  font-weight: bolder;
}

#username_submit:hover{
  color:#000;
  background-color:#ffffffc9;
  border : 0.5px solid #000000;

}

table{
  width: 90%;
  margin : auto;
  
  border: 0.1em solid #fff;
  text-align:justify;
}

table thead{
  background-color : #414645;
  color: #fff;
}

table thead th,td{
  padding:0.5em 0 0.5em 0.5em;
  
}

table tbody{
  background-color : #5b5e5d2a;
}

.linha_tabela{
  min-height: 3.5em;
  word-wrap: normal;
}
